@keyframes showIntroImg {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes showIntroText {
    from{
       opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes showDropdown {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}