@import './keyframes.css';
html {
    scroll-behavior: smooth;
  }
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.row{
    margin:0; 
    padding:0;
}
/* RESPONSIVE TEXT */

@media screen and (max-width: 976px) {
    .grid-item {
      width: calc(100%/2 - 20px) !important; 
    }

}
 


@media (max-height: 576px) {
    #introText h2{
        margin-top:50px !important;
        font-size:40px !important;
    }
    #introText #introButtons{
        margin-top:0;

    }

    /* KARTY OFERT */
    #oferta{
        height: 200vh !important;
    }

    #instagramBlock{
        height: 80vh !important;
    }
    #footer{
        height:110vh !important
        ;
    }
    
}

@media (max-width: 576px) {
    .grid-item {
        width: calc(100%) !important; 
    }    
    #introText >h2{
        font-size:70px !important;
    }
    #introText > p{
        font-size: 16px !important;
    }

    #about{
        height: 100vh !important;
    }
    #aboutTextRectangle .row #aboutParag{
        width: 100%;
        font-size:12px !important;
    }
}
@media (max-width: 768px) {
    #introText >h2{
        font-size:50px !important
    }
    #footerContactLogo{
        text-align: center;
        font-size:20px;
    }
    #contactButton{
        padding: 15px 20px !important;
    }
    #introButtons{
        width: 70%;
    }
    
}
/* TABLET/MOBILE MEDIA */
@media (max-width: 992px) {
    .navbar ul{
        width: 100% !important;
    }
    .nav-item a{
        color:#111111 !important;
        font-size:18px !important;
        font-family: 'Inter', sans-serif;
    }
    .nav-item a:hover{
        color:#1B5B31 !important
    }
    .dropdown-menu{
        border:none;
        animation: 0.5s showDropdown linear;
    }
    .dropdown-item{
        padding: 10px 0 !important;
        width: 100% !important;
        left:0;
        text-align: center;
        border-bottom: 2px solid transparent;
    }
    .dropdown-item:hover{
        border-bottom: 2px solid #1B5B31;
        background-color: transparent;
        transition: 0.3s ease;
    }
    .dropdown-divider{
        display: none
    }
    #intro{
        height: 93.5vh;
        position: relative;
    }
    #searchMagnify{
        display: none;
    }
    
    .navbar-collapse {
        width: 70%;
        height: 100%;
        position: fixed;
        display: flex;
        justify-content: flex-start;
        top: 55px;
        left: 0;
        padding:20px;
        z-index: 200;
        background-color: #fff;
    }
    ul{
        height: calc(100vh - 88px);
    }
    #navbarContent{
        z-index: 20;
    }
    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler{
        border:none !important;
        color:#fff;
    }

    .navbar-toggler:focus{
        border: none;
        outline: none;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }

    /* LEFT INTRO TEXT VALUES */
    #leftIntro{
       
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size:130% 120%;
    }
    .leftIntroF{
        background-image: url('./assets/introPhoto.png');
        
    }
    .leftIntroS{
        background-image: url('./assets/gavin-mcgruddy-unsplash.jpg');
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size:130% 120%;
        
    }
    #leftIntro #introText{
        width: 90%;
        color:#fff;
        /* text-shadow: 2px 2px 3px #ffffff8a; */
    }
     #secondBrightOverlay{
        position: absolute;
        top:0;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,1) 64%);
    }
    #brightOverlay{
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,1) 64%);
    }
    #leftIntro #introText > h2{
        font-size:40px;
        color:#fff;
        width: 100%;
    }
    #introText p{
        font-size:14px;
        width: 100%;
        font-weight: 200;
        color:#fffffffa;
    }

    /* LEFT INTRO BUTTONS VALUES */
    #leftIntro #introText #introButtons{
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    #leftIntro #introText #introButtons button:last-child{
        margin-left:0;
        padding: 10px 0;
        margin-top:2%;
        font-size:13px;
        font-weight: 800;
        border:2px solid #1B5B31;
    }

    .carousel-item.row{
        display: flex;
        flex-direction: row-reverse;
        position: relative;
    }

    #rightIntro{
        display: none;
    }
    #carouselControls{
        z-index: 60;
    }
    #introButtons button:first-child{
        padding-left: 10px;
    }
    #introButtons button:last-child{
        display: flex;
        border-radius: 100px;
        background-color: transparent;
        border: 1px solid #1B5B31;
        color:#1B5B31;
        width: auto;
        white-space: nowrap;
        justify-content: space-around;
        align-items: center;
        margin-left:5%;
    }
    /* OFERTA */
    #oferta{
        height: 140vh;
        padding-bottom: 50px;
    }
    #contactButton{
        padding: 5px 20px !important;
        height: 20% !important;
    }
    .card{
        height: 50% !important;

    }
    .cardInside{
        width: 100% !important;
    }
    .cardLink{
        font-size: 9px !important;

    }

    #titleSmall p{
        width: 90% !important  ;
    }
    #titleBig h2{
        font-size:40px !important;
    }
    .card-text{
        height: 40%;
    }
    .cardText b{
        font-size: 18px !important;
    }
    .cardText p{
        font-size: 9px !important;
        font-weight: 500;
    }
    #about{
        height: 70vh !important;
    }
    .cardInside img{
        width: 22px;
        height: 22px;
    }
    #aboutTextRectangle .row h2{
        font-size:30px !important;
    }
    #aboutTextRectangle .row p{
        width: 100%;
        margin-top:5%;
        font-size:13px !important;
    }
    #aboutTextRectangle .row button{
        width: 100% !important;
        font-size:10px !important;
        white-space: nowrap; 
    }
    #socials{
        width: 100%;
    }
    #socials span{
        font-size:9px !important;
    }
    #socials ul {
        margin-left:3%;
    }
    #socials ul li {
        font-size: 10px !important;
        
    }
    #instagramText{
        display: flex;
        justify-content: center;
        align-items: center !important;
    }
    #instagramHeader h2{
        font-size:30px !important;
    }
    #followB{
        margin-left: -5%;
    }
    #footerBottom .row{
        font-size:11px;
        justify-content: space-between;
    }
    #footerContactLogo{
        padding-top:3% ;
    }
    #footerContactButton b{
        font-size:10px;
        margin-top:6.5%
    }
    #footerContactButton button{
        padding:15px 10px !important; 
        margin-top:5% !important; 
    }


}

/* DESKTOP MEDIA */
@media (min-width: 993px) {
    
    #logoNavbarSm{
        display: none   
    }
    .dropdown-menu{
        top:44px;
        border:none;
        border-radius: 0;
        animation: showDropdown 0.3s ease-in;
    }
    .dropdown-menu a{

        background-color: #fff;
        margin-top:5px;
    }
    .dropdown-menu a:hover{
        transition: 0.3s ease;
        background-color: #FFEFBA;
        border-radius: 55px;
    }
    .collapse{
        display: flex;
        justify-content: flex-end;
    }

    #footerContactLogo{
        font-size:20px;
        padding-top: 1%;
    }

    #footerContactButton{
        font-weight: 300;
        
    }
    #footerContactButton b {
        margin-top:2%;
    }
    
}

.navbar{
    background-color: #ffff;
    z-index: 4000;
    display: flex;
    
}
.navbar-nav{
    height: 100%;
}
.nav-item{
    margin:0 15px;
    
}
.nav-item a{
    color:#111111 !important;
    font-size:14px;
    font-family: 'Inter', sans-serif;
}

.navbar.navbar-brand{
    
    font-family: 'Open Sans', sans-serif;
}
#naviSearch{
    position: relative;
    display: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

#naviSearch > input{
    border-radius: 25px;

}
#naviSearch > button{
    position: absolute;
    right:5px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 25px;
    color:#1d1d1d;
    border: 1.5px solid #ced4da;
    box-shadow: none;
    align-items: center;
    transition: 0.2s;
    font-size:14px;

}

#naviSearch > button:hover {
    background-color: #000000a8;
    border: 3px solid #fff;
    color:#fff;
}

#searchMagnify:hover{
    cursor:pointer;
    color: #3b3b3b9d;
    position: relative;
    top: 2px;
}

/* INTRO(HERO PAGE) */
#intro{
    height: 94.1vh;
    position: relative;
}
#introCarousel{
    width: 100%;
    height: 100% !important;
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    height: 100%;
}

/* LEFT SIDE OF INTRO(HERO PAGE) */
#carouselControls{
    background-color: #F5F0EC;
    width: 200px;
    height: 100px;
    position: absolute;
    right:0;
    bottom:0;
    
}

#carouselControls a{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#carouselControls a i{
    font-size:30px;
    color:#000;

}

#leftIntro{
    background-color: #DCC1AB;
    display: flex;
    justify-content: center;
    position: relative;

}

#introText{
      width: 80%;  
      height: 100%;
      display: flex;
      flex-direction: column;
      animation: showIntroText 0.5s linear;
      z-index: 40;
}
#introText h2{
    margin-top:20%;
    font-size:60px;
    width: 80%;
    line-height: 110%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
#secondIntroText{
    width: 80%;  
    height: 100%;
    display: flex;
    flex-direction: column;
   
    z-index: 40;
}
#secondIntroText h2{
  margin-top:20%;
  font-size:60px;
  width: 80%;
  line-height: 110%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
#secondIntroText p{
    font-family: 'Inter', sans-serif;
    width: 70%;
    margin-top:5% !important;
    font-size:16px;
    line-height: 150%;
}
/* IMAGE OVERLAY */
#leftIntro span{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: #ffffff10;
    z-index: 20;
    height: 100%;
}
#introButtons{
    min-width: 200px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    font-size:16px;
    margin-top:5%;

}
#introButtons a{
    color:#1B5B31;
}
#introButtons a:hover{
    color:#fff;
    background-color: transparent;
    text-decoration: none;
}
#introButtons button:first-child{
    border-radius: 100px;
    background-color: #1B5B31;
    color:#F5F0EC;
    border:none;
    font-weight: 300;
    white-space: nowrap;
    text-align: left;
    padding:11px 20px !important;
}

#introButtons button:first-child:hover{
    background-color: #1ba04a;
    position: relative;
    top:2px;
   
}

#introButtons button:last-child{
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid #1B5B31;
    color:#1B5B31;
    width: auto;
    white-space: nowrap;
    margin-left:5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px 20px !important;
}

#introButtons button:last-child:hover{
    color:#fff;
    border:1px solid #ffffffc2;
}
/* RIGHT SIDE OF INTRO(HERO PAGE) */
#rightIntro{
    background-color: #fff;
    position: relative;
}
#rightIntro img{
    width: 100%;
    height: 100%;
    animation: showIntroImg 0.8s linear;
}
#rightIntro span{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: #ffffff10;
}


/* OFERTA  */
#oferta{
    width: 100%;
    height: 100vh;
    background-color: #F5F0EC;
}

#ofertaText{
    height: 50%;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin-left:10%;
}
.row #titleBlock{
    height: 10%;
    color:#1B5B31;
    font-size:16px;
}
.row #titleBig{
    height: 20%;
}
.row #titleBig h2{
    font-size:48px;
}
.row #titleSmall{
    height: 30%;
}
.row #titleSmall p{
    width: 67%;
}
#ofertaTables{
    height: 50%;
}
.card{
    width: 100%;
    height: 80%;
    /* padding:0 20px; */
    background-color: transparent;
    border:none;
    animation: showDropdown 0.5s ease;
}
.cardInside{
    width: 80%;
    height: 100%;
    background-color: #fff;
    border-radius: 28px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    cursor: pointer;
}
.cardInside:hover:last-child{
    color:#fff;
}
#cardFirst{
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(225deg, rgba(255,255,255,1) 29%, rgba(180,181,227,1) 43%, #FFEFBA 96%);
    background-size:400% 400%;
    background-position: 100% 400%;
}

#cardFirst:hover{
    background-position: 100% 100%;
    color:#fff;
}
/* SECOND CARD */
#cardSecond{
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(225deg, rgba(255,255,255,1) 29%, rgba(227,204,180,1) 43%, rgba(255,199,77,1) 96%);
    background-size:400% 400%;
    background-position: 100% 400%;
}

#cardSecond:hover{
    background-position: 100% 100%;
    color:#fff;
}
.cardInside:hover .cardLink{
    margin-left: 20px;
    transition: 0.3s;
}
/* LAST CARD */
#cardThird{
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(225deg, rgba(255,255,255,1) 29%, rgba(227,180,227,1) 43%, rgba(158,57,185,1) 96%);
    background-size:400% 400%;
    background-position: 100% 400%;

}

#cardThird:hover{
    background-position: 100% 100%;
    color:#fff;
}
.cardInside img{
    width: 44px;
    height: 44px;
}
.cardInside b{
    font-size: 28px;
}

.cardLink{
    color:#1B5B31;
    border-bottom:1px solid #1B5B31;
    font-size:16px;
    line-height: 160%;
    font-weight: 600;
    white-space: nowrap;
    /* margin-top:3%; */
}
.cardLink:hover{
    color:#1b5b319c;
    border-bottom:1px solid #1b5b319c;
    cursor: pointer;
    text-decoration: none;
}

/* ABOUT */
#about{
    height:60vh;
    background-color: #1B5B31;
}
#about img{
    width: 100%;
    height: 100%;
}
#aboutText{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#aboutTextRectangle .row p{
    width: 88%;
    font-size:13px;
}
#aboutTextRectangle{
    width: 80%;
    height: 100%;
    color: #F5F0EC;
    padding:50px 0;
    margin-top:10%;
}

#aboutTextRectangle .row {
    display: flex;
    flex-direction: column;

}
#aboutTextRectangle .row > h2 {
    font-size:48px;
    letter-spacing: -3px;
    line-height: 115%;
}
#aboutTextRectangle .row > p{
    letter-spacing: -1px;
    line-height: 150%;
    font-weight: 300;
    font-size:16px;
}
#aboutTextRectangle .row > button{
    border:1px solid #F5F0EC;
    width: 200px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size:16px;
    margin-top:5%;
    padding:12px 0px;

}

#aboutTextRectangle .row > button:hover{
    border:1px solid #ffffff79;
    color:#ffffff83;
    position: relative;
    top:2px;
    transition: 0.3s;

}

/* MASONRY */
#projekty{
    background-color: #DCC1AB;
    height: auto;
    text-align: left;
}

#projekty p{
    font-size: 12px;
    color: #1B5B31;
    margin-left:20%;
}

#projekty h2{
    font-size:48px;
    margin-left:20%;
    margin-bottom: 5%;
}

.grid{
    box-sizing: border-box;
    position: relative;
    transition: 0.5s;
}

.grid-item {
    width: calc(100%/3 - 20px);
    margin-bottom:20px; 
}      

#gridOverlay{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index: 200;
    background: rgb(214,183,158);
    background: linear-gradient(180deg, rgba(214,183,158,0) 0%, rgba(220,193,171,1) 100%);
    display: flex;
    justify-content: center;
    align-items:flex-end;
    transition: 0.3s;
    pointer-events: none;
}

#overlayBtn{
    width: 124px;
    height: 54px;
    border:1px solid #111111;
    display: flex;
    justify-content: space-around;
    align-items:center;
    border-radius: 50px;
    margin-bottom:5%;
    pointer-events: all;
    
}

/* hide overlay */
#gridOverlayHide{
    position: absolute;
    display: none;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index: 200;
    transition: 0.3s;
    pointer-events: none;
}

#gridOverlayHide button{
    width: 124px;
    height: 54px;
    border:1px solid #fff;
    color:#fff;
    display: flex;
    justify-content: space-around;
    align-items:center;
    border-radius: 50px;
    margin-bottom:5%;
    pointer-events: all;
    
}

#gridOverlayHide button:hover{
    border:1px solid #1ba04a;
    color:#1ba04a;
}

#overlayBtn:hover{
  border:2px solid #fff;
  color:#fff;
  position: relative;
  top:2px;
}

.grid-item img{
    width: 100%;
}

.grid-item img:hover{
    position: relative;
    top:2px;
    cursor: pointer;
    mix-blend-mode: multiply;
}

/* IMAGE GALLERY */
#imageGallery{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(19, 19, 19, 0.726);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
}
#imageGallery .container{
    display: flex;
    justify-content: center;
    align-items: center;
}


#prev{
    position: absolute;
    left:0;
    width: 10%;
    height: 100vh;
    background-color: #00000031;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
#prev:hover{
    cursor: pointer;
    background-color: #0000008e;
    color:#fff;
}
#next{
    position: absolute;
    right:0;
    width: 10%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.253);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
#next:hover{
    cursor: pointer;
    background-color: #0000008e;
    color:#fff;
}

#imageGallery .container{
    position: relative;
}
#imageGallery .container img{
    width: 100%;
    height: 100%;
 
}
#galleryImg{
    width: calc(60% - 100px );
    height: 60%;
    border:2px solid #ffffffb0;
}

#exit{
    position: absolute;
    left: 50px;
    bottom:20px;
    font-size:40px;
    z-index: 200;
    color:rgba(255, 0, 0, 0.822);
 
}
#exit > button{
    width: 150px;
    font-size:24px;
}
#exit:hover{
    opacity: 0.8;
    cursor: pointer;
}
/* INSTAGRAM */
#instagramBlock{
    height: 50vh;
    background-color: #F5F0EC;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#instagramC{
    background-color: #1B5B31;
    width: 60%;
    height: 75%;
    color: #F5F0EC;
    
}

#instagramHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

#instagramHeader h2{
    font-size:40px;
    font-weight: 300;
    line-height: 120%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -2px;
}

#instagramText{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#instagramText > p {

    color:#F5F0EC;
}
#followB{
    width: 20%;
    min-width: 100px;
    height: 44px;
    border: none;
    background-color: #F5F0EC;
    color: #1B5B31;
    border-radius: 100px;
  
}
#followB:hover{
    background-color: transparent;
    position: relative;
    top:2px;
    border:1px solid #F5F0EC;
    color: #F5F0EC;
}

/* FOOTER */
#footer{
    height: 50vh;
    background-color: #111111;
    padding-top:50px;
    display: flex;
    color:#F5F0EC;
    align-items: center;
}
#footer .container .row #logoContactB{
    height: 30%;
    border-bottom: 1px solid #F5F0EC;
}
#logoContactB .row{
    width: 100%;
}
#footer .container .row #logoContactB img{
    height: 15%;
}
.logo{
    margin-top:3%;
}
#logoContactB span{
    height: 80%;

}
#logoContactB span b{
    color: #F5F0EC;
    font-weight: 300;
    margin-top: 4%;

}
#contactButton{
    background-color: #1B5B31;
    border-radius: 100px;
    height: 40%;
    width: auto;
    color: #F5F0EC;

    display: flex;
    align-items: center;
    font-weight: 300;
    white-space: nowrap;
}
#contactButton:hover{
    background-color: #1ba04a;
    position: relative;
    top:2px;
       
 }
#socials{
    height: 20%;
    display: flex;
    justify-content: space-between;
}
#socials ul{
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: flex-end;
    width: 30%;

}
#socials ul li {
    float:left;
    margin:0 20px;
    width: 25%;
    color:#F5F0EC;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}
#socials ul li:hover{
    color:#fff;
    text-decoration: underline;
    text-decoration-color: #fff;
    cursor: pointer;
}
#socials ul li:first-child {
    margin-left:0;
    padding-left:0;
}
#socials span{
    height: 100%;
    width: 40%;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}
#socials span .row{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color:#F5F0EC;
}

#footerBottom{
    height: 10%;
    color:#F5F0EC;
    margin-top:8%;
 
}

#footerLogo{
    width: 40%;
    height: 100%;
}
#footerLogo img{
    height: 23px;
    width: 113px;
}